extends layout

block content
  #container
    h1 Hybreed
    h2 About
    p Hybreed is search engine interface for Google and DuckDuckGo, that let you search Google Malaysia as default or using !bang for instant result. For     example you can use "!w" to directly search Wikipedia or "!gi" to directly search Google Images, full list of usable !bang can be found <a href='https://duckduckgo.com/bang.html', target='_blank'>here</a>.

    p We don't track you or log your IP and all search result are free from any alteration. We however used Google Analytics to measure our traffic to give you better overall experience.

    p Hybreed is an <a href='https://github.com/MdNor/hybreed', target='_blank'>open source project</a>. You're free to take a look or even fork your own version if you'd like.
    h4 <a href="/">Home</a>
  #footer
    p  
      a(href="#") About
      |  | 
      a(href="/support") Support
      |  | 
      a(href='http://mdnor.my', target='_blank') Contact
  footer#credit
    p Powered by Node.js
