extends layout

block content
  #container
    h1 Hybreed
    h2 Support
    p You can support this project by setting Hybreed as your default search engine and promote it to everyone. Follow <a href='http://support.mozilla.org/en-US/questions/756322', target='_blank'>this tutorial</a> if you have problem changing Firefox default search engine. Feel free to contact my <a href='mailto:me@mdnor.my', target='_blank'>email</a> for any contribution in term of resource and expertise.
    h2 Donate
    p You can support this project by subscribing to <a href="http://www.kittysensei.com">KittySensei Managed WordPress Hosting</a> or <a href="http://www.harimauhosting.com">Harimau Hosting</a>.
    h4 <a href="/">Home</a>
  #footer
    p  
      a(href="/about") About
      |  | 
      a(href="#") Support
      |  | 
      a(href='http://mdnor.my', target='_blank') Contact
  footer#credit
    p Powered by Node.js
